
Body{

    background-image: url( '../assets/pics/wood-test1.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-color: rgb(236,236,199,1);
}

.textCard {

    margin :0px;
    padding:0;
    font-size : 0.4em;
    color:red;

}