
    Body{
        background-color: ghostwhite;
    }

    .textCard {
        margin :0px;
        padding:0;
        font-size : 0.4em;

    }


    #firstPartHome{
        width:100%;
        min-height:100vh;
        background: url( '../assets/pics/wood-2142241_1280.jpg') no-repeat center ;

        background-size: cover;
        background-attachment: unset;

    }
    #secondPartHome{
        height: 900px;
        background-color:whitesmoke;
    }








/*Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    #firstPartHome{
        width:100%;
        min-height:100vh;
        background: url( '../assets/pics/wood-2142241_1280.jpg') no-repeat center ;

        background-size: cover;
        background-attachment: unset;

    }
    #secondPartHome{
        height: auto;
        background-color:whitesmoke;

    }
    .CardInAdminRecipes{
        height:auto;


    }
    .PicsInadminRecipes{
        height:auto;

    }
    .PicsInadminRecipes img {
        height:auto;

    }
    .cardRecipeTitle{
        height:80px;
    }
    .CardFooterInAdminRecipes {
        height:40px;
        text-align: center;


    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #firstPartHome{
        width:100%;
        min-height:100vh;
        background: url( '../assets/pics/wood-2142241_1280.jpg') no-repeat center ;

        background-size: cover;
        background-attachment: unset;
    }
    #secondPartHome{
        height: auto;
    }
    .CardInAdminRecipes{
        height:auto;


    }
    .PicsInadminRecipes{
        height:auto;

    }
    .PicsInadminRecipes img {
        height:auto;

    }
    .cardRecipeTitle{
        height:80px;
    }
    .CardFooterInAdminRecipes {
        height:40px;
        text-align: center;


    }
}

/*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) {
     /*allthecard*/
     .CardInAdminRecipes{
         height:auto;


     }
     /*div of img*/
     .PicsInadminRecipes{
         height:auto;

      }
     /*pics*/
     .PicsInadminRecipes img {
         height:auto;

     }


     .cardRecipeTitle{
         height:80px;
     }
     .CardFooterInAdminRecipes {
         height:40px;
       text-align: center;


     }


 }

/* Extra large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) { ... }*/