<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/4-col-portfolio.css" rel="stylesheet">

    <!-- Custom styles for this project -->
    <link href="./assets/style.css" rel="stylesheet">

</head>

<body>

<header>





<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
    <div class="container mt-5 "  >

        <div class="row  ">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="category.html?category=1">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://placehold.it/700x400" alt="Viandes">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Viandes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="category.html?category=2">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://placehold.it/700x400" alt="Légumes">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Légumes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="category.html?category=3">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://placehold.it/700x400" alt="Pâtes">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Pâtes</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="category.html?category=4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://placehold.it/700x400" alt="Selection ">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Selections</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row  ">
            <div class="col-lg-12  text-center ">
                 <form class="form-inline my-2 my-lg-0 mx-auto">
                      <input class="form-control mr-sm-2" type="search" placeholder="Recettes , Ingredients , ..." aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </div>





</header>
<!-- Content -->
{% block content%}

{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="./ assets/vendor/jquery/jquery.min.js"></script>
<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
