{% extends '_layout.twig' %}

{% block contentHeader %}
{% endblock %}

{% block content %}

        <div class="row justify-content-around ">
            <div class="col-lg-6 col-md-2 col-sm-1 portfolio-item card-deck  mx-auto">
                <a href="adminRecipes.html" class="nav-link">
                    <div class="card text-white bg-info w-150 h-500 mb-3" style="max-width: 18rem;">
                        <div class="card-header">Recettes</div>
                        <div class="card-body">
                            <h5 class="card-title">Manager de recettes</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-2 col-sm-1 portfolio-item card-deck  mx-auto">
                <a href="admincomments.html" class="nav-link" >
                    <div class="card text-white bg-info w-150 h-500 mb-3 mx-auto" style="max-width: 18rem;">
                        <div class="card-header">Commentaires</div>
                        <div class="card-body">
                            <h5 class="card-title">Manager de Commentaires</h5>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row  ">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="adminIngredients.html" class="nav-link">
                    <div class="card text-white bg-info w-150 h-500 mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ingredients</div>
                        <div class="card-body">
                            <h5 class="card-title">Liste des ingredients :</h5>
                            <p class="card-text">Administre la liste des Ingredients</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="adminPics.html" class="nav-link">
                    <div class="card text-white bg-info w-150 h-500 mb-3" style="max-width: 18rem;">
                        <div class="card-header">Parametres</div>
                        <div class="card-body">
                            <h5 class="card-title">Info Administrateurs</h5>

                        </div>
                    </div>
                </a>
            </div>
         </div>


        <div class="row  ">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="adminIngredients.html" class="nav-link">
                    <div class="card text-white bg-info w-150 h-500 mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ingredients</div>
                        <div class="card-body">
                            <h5 class="card-title">*getion des images:</h5>
                            <p class="card-text">Administre la liste des Images</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck mx-auto ">
                <a href="adminPics.html" class="nav-link">
                    <div class="card text-white bg-info w-150 h-500 mb-3" style="max-width: 18rem;">
                        <div class="card-header">Parametres</div>
                        <div class="card-body">
                            <h5 class="card-title">Info Administrateurs</h5>

                        </div>
                    </div>
                </a>
            </div>
        </div>

{% endblock %}