{% extends '_layout_new.twig' %}

{% block Part1 %}
<div class="container-fluid  "  id="firstPartHome">
    <div class="row justify-content-around ">


        <div class="col-lg-6 col-md-3 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Ingredients</div>
                    <div class="card-body">
                        <h6 class="card-text"> Ingredients </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 col-md-3 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Administrations</div>
                    <div class="card-body">
                        <h6 class="card-text">Comptes</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row justify-content-around " >
        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Recettes</div>
                    <div class="card-body">
                        <h6 class="card-text"> Recettes</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-12 portfolio-item card-deck justify-content-around " >
            <a href="" class="nav-link">
                <div class="card text-body bg-light  w-100  mb-3" >
                    <div class="card-header">Commentaires</div>
                    <div class="card-body">
                        <h6 class="card-text">Moderations</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>


{% endblock %}

{% block Part2%}



{% endblock %}

