{% extends '_layout.twig' %}

{% block contentHeader %}
    <div class="row justify-content-around ">
        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Recettes</div>
                    <div class="card-body">
                        <h6 class="card-text">Recette(s) : </h6>
                        <h6 class="card-text">Brouillons : </h6>
                        <h6 class="card-text">En attentes : </h6>
                        <h6 class="card-text">Affichées : </h6>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-12 portfolio-item card-deck justify-content-around " >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light  w-100  mb-3" >
                    <div class="card-header">Commentaires</div>
                    <div class="card-body">
                        <h6 class="card-text">Topics : </h6>
                        <h6 class="card-text">Réponses : </h6>
                        <h6 class="card-text">signalements : </h6>
                        <h6 class="card-text">Likes : </h6>

                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row justify-content-around ">

        <div class="col-lg-3 col-md-3 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Images</div>
                    <div class="card-body">
                        <h6 class="card-text">Image(s) : </h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Ingredients</div>
                    <div class="card-body">
                        <h6 class="card-text">Total :  </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 portfolio-item card-deck justify-content-around "  >
            <a href="adminRecipes.html" class="nav-link">
                <div class="card text-body bg-light w-100  mb-3 " >
                    <div class="card-header">Administrations</div>
                    <div class="card-body">
                        <h6 class="card-text">Admin :   </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}

{% block contentHeaderMessage%}

{% endblock %}

{% block content %}




{% endblock %}