{% extends '_layout_new.twig' %}
{% block Part1 %}

    <!-- Main Content -->
    <div class="container-fluid" id="firstPartHome">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Contactez Moi</h2>
            <span class="subheading">Si vous avez des questions ? N'hesitez pas.</span>
          <p>Remplissez ce formulaire . Je repondrai , dès que possible !</p>

          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Nom" id="name" required data-validation-required-message="Entrez votre nom.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Adresse Email" id="email" required data-validation-required-message="gilles.sabathe@free.fr">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Phone Number</label>
                <input type="tel" class="form-control" placeholder="Numéro de téléphone" id="phone" required data-validation-required-message="Laisser votre numero de telephone.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Message</label>
                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Tapez votre message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block Part2 %}
{% endblock %}