{% extends '_layout_new.twig' %}

{% block Part1 %}
<div class="container "  id="firstPartHome">

        <div class="row "id = "error">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h5>Erreur</h5>
                <p>Le contenu de cette categorie n'est pas encore disponible.. </p>
                <a class="btn btn-primary float-right" href="home.html">Retour à la page d'accueil &rarr;</a>
            </div>
        </div>
</div>


{% endblock %}
{% block Part2 %}
{%  endblock %}