{% extends '_layout.twig' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{ recipes.getName }}

        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                     <h3 class="my-3">Ingredients</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>

                <h3 class="my-3">Preparation :</h3>
                <p>{{ recipes.getRecipe }}</p>

            </div>

        </div>
        <!-- /.row -->
    <!-- /.container -->
{% endblock %}