{% extends '_layout_new.twig' %}



{% block Part1%}



    <div class="custom-file">

        <label class="custom-file-label" for="customFile">Choose file</label>
        <input type="file" class="custom-file-input" id="customFile" name="customFile">

        <input type="hidden" id="customhiden" value={{ recipes.getDishId  }}>
        <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
    </div>


        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Annulation {{ recipes.getDishId  }} </button>

        <!--  <a href ="" class="btn btn-danger">   Validation </a> -->

        <button class ="btn btn-group-sm btn-primary " id="bt_loading_picture_test" type="submit" >validation</button>


</form>




    <form method="post"  action="test2.html" enctype="multipart/form-data">
        <div class="custom-file">
            <label for="icone">Icône du fichier (JPG, PNG ou GIF | max. 15 Ko) :</label><br />
            <input type="file" name="icone" id="icone" /><br />
            <input type="submit" name="submit" id="bt_loading" value="Envoyer" />
        </div>
    </form>







{% endblock %}