{% extends '_layout.twig' %}



{% block contentHeader %}


{% endblock %}



{% block content %}
    <!-- Post Content -->


        <div class="row ">
            <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Connexion</h2>

            <form action="adminverif.html" method="post">
                <label>Pseudo</label>
                <input type="text" name="login" /><br />

                <label>Mot de passe</label>
                <input type="password" name="pass" /><br /><br />

                <input type="submit" value="Connexion" />
            </form>

            </div>
        </div>

{% endblock %}